<div id="<%= dom_id author %>">
  <p>
    <strong>Slug:</strong>
    <%= author.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= author.description %>
  </p>

</div>
